@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800');
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    font-family: "Open Sans";
    margin: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
}

body {
    background-color: #F1F2F3;
}

.container-fluid,
#container_trips {
    max-width: 1200px;
    padding-top: 80px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.profile-card-4 {
    max-width: 300px;
    border-radius: 5px;
    border: 2px solid white;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

.profile-card-4 img {
    transition: all 0.25s linear;

}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #192226;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-content .row {
    margin-top: 10px;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 50px;
    top: -30px;
    left: 0px;
    right: 0px;
    background-color: #192226;
    z-index: 0;
    transform: skewY(3deg);
    border-top: 2px solid white;

}

.profile-card-4 img:hover {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

#delete button {
    background-color: inherit;
    border:none;
    font: 18px Lato !important;
    color: white;
    padding: 0;
}

.profile-card-airport {
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-airport .profile-content {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
}

.profile-card-airport .profile-content::before {
    border-top: none;

}


/* buttons */

.btn{
    color: #fff;

    background: linear-gradient(135deg, #192226, #541b1b);
    font: 18px Lato !important;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    border: 2px solid white;
}
.btn:hover{
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: rotate 0.7s ease-in-out both;
    border: 2px solid white;
}
.btn:before,
.btn:after{
    content: '';
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn:hover:before,
.btn:hover:after{
    opacity: 0.15;
}
.btn:hover:before{ transform: translate3d(50%, 0, 0) scale(0.9); }
.btn:hover:after{ transform: translate(50%, 0) scale(1.1); }
@keyframes rotate{
    0%{ transform: rotate(0deg); }
    25%{ transform: rotate(1deg); }
    50%{ transform: rotate(-1deg); }
    75%{ transform: rotate(1deg); }
    100%{ transform: rotate(0deg); }
}

.btn-add {
    width: 40%;
    margin-left: 30%;
    background: inherit;
}

@media only screen and (max-width: 767px){
    .profile-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .btn{
     margin-bottom: 20px;
     width:100%;
     border-radius: 0;
     border-left: none;
     border-right: none;
    }

    .btn-add {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border-radius: 0 !important;
        border-left: 0;
        border-right: 0;
    }
}
