.profile-card-4 {
    max-width: 800px !important;
    padding-left: 0;
    display: block;
}

.profile-card-4 img:hover {
    transform: rotate(2deg) scale(1.1,1.1);
    filter: brightness(110%);
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 70px;
    top: -20px;
    left: 0px;
    right: 0px;
    background-color: #192226;
    z-index: 0;
    transform: skewY(3deg);
    border-top: 2px solid white;
}

.table {
    color:white;
    word-wrap: break-word;
    width:100%;
    table-layout: fixed;
    margin-top: 20px;
}

.table th {
    text-align: center;
}

.table tr th:first-child {
    width: 10%;
}
